<% provide :title, t(".help_title") %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".description_title" %>
  <%= link_to t("rails_tut_help"), Settings.links.rails_tutorial.help_page %>.

  <%= t ".description_detail" %>
  <%= link_to t("ruby_on_rails_tut_book"), Settings.links.rails_tutorial.help_book %>
</p>
