<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".new_compose") %>
  </div>
  <%= f.submit t(".submit_post"), class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: Settings.image.input %>
  </span>
<% end %>
