<footer class="footer">
  <small>
    <%= t ".desc_a" %> 
    <%= link_to t("ruby_on_rails_tut"), Settings.links.rails_tutorial.home_page %>
    <%= t ".desc_b" %>
    <%= link_to t("ruby_on_rails_tut_author"), Settings.links.rails_tutorial.author %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about_footer"), about_path %></li>
      <li><%= link_to t(".contact_footer"), contact_path %></li></li>
      <li><%= link_to t(".new_footer"), Settings.links.rails_tutorial.news %></li>
    </ul>
  </nav>
</footer>
